# venv
.venv/

# bytecode
__pycache__/
*.py[cod]

# C extensions
*.so

# build/distrib
.Python
build/
dist/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# instaladores / logs
pip-log.txt
pip-delete-this-directory.txt

# testes / coverage
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# docs (sphinx)
docs/_build/

# dotenv
.env

# IDEs
.vscode/
.idea
.spyproject/

# notebooks
.ipynb_checkpoints/

# dados 
data/*
!data/raw/
!data/raw/README.md
!data/raw/imdb.csv
data/external/*
data/interim/*
data/processed/*

# outputs/experimentos
outputs/
mlruns/

# OS
.DS_Store
Thumbs.db
desktop.ini

# mypy
.mypy_cache/
