# venv
.venv/
env/
venv/

# Bytecode / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyi
*.pyz
*.pyz.py
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/

# C extensions
*.so

# Build / distribuição
.Python
build/
dist/
develop-eggs/
downloads/
eggs/
.eggs/
*.egg
*.egg-info/
*.dist-info/
.installed.cfg
sdist/
var/
lib/
lib64/
parts/

# Instaladores / logs
pip-log.txt
pip-delete-this-directory.txt
*.log

# Testes / coverage
htmlcov/
.tox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover

# Docs (Sphinx)
docs/_build/

# Dotenv
.env
.env.*

# IDEs / projetos locais
.vscode/
.idea/
.spyproject/
*.code-workspace

# Notebooks
.ipynb_checkpoints/

# Dados
data/*
!data/raw/
!data/raw/README.md
!data/raw/imdb.csv
data/external/*
data/interim/*
data/processed/*

# Saídas/experimentos locais
outputs/
mlruns/

# SO
.DS_Store
Thumbs.db
desktop.ini

# pyenv / poetry / misc
.python-version
